<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="redisCacheConfigSection" type="SS.Architecture.Cache.Redis.Configuration.RedisCacheConfigSectionHandler, SS.Architecture.Cache.Redis"/>
    </configSections>

    <redisCacheConfigSection>
        <redisCache UseCache="true">
            <cachePrefix>Test</cachePrefix>
            <sentinelsPingTimeout>10</sentinelsPingTimeout>
            <redisClients>
                <redis IpAddress="" Port="" Password="" AddressName="testmaster"/>
            </redisClients>
            <sentinelClients>
                <sentinel IpAddress="10.11.51.3" Port="26379" Password="" AddressName=""/>
                <sentinel IpAddress="10.11.51.30" Port="26379" Password="" AddressName=""/>
            </sentinelClients>
        </redisCache>
    </redisCacheConfigSection>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>