<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="redisCacheConfigSection" type="SS.Architecture.Cache.Redis.Configuration.RedisCacheConfigSectionHandler, SS.Architecture.Cache.Redis"/>
    </configSections>

    <redisCacheConfigSection>
        <redisCache UseCache="true">
            <cachePrefix>Test</cachePrefix>
            <sentinelsPingTimeout>10</sentinelsPingTimeout>
            <redisClients>
                <redis IpAddress="" Port="" Password="" AddressName="cuigtpdatreu001"/>
            </redisClients>
            <sentinelClients>
                <sentinel IpAddress="95.138.180.8" Port="26379" Password="" AddressName=""/>
                <sentinel IpAddress="95.138.160.227" Port="26379" Password="" AddressName=""/>
                <sentinel IpAddress="162.13.86.109" Port="26379" Password="" AddressName=""/>
            </sentinelClients>
        </redisCache>    
    </redisCacheConfigSection>
    
</configuration>